body{
    font-family: 'Vazirmatn', sans-serif !important;
    background: #f4f4f4;
}
.question-totall , .price-box {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.question-totall.hidden ,.price-box.hidden{
    opacity: 0 !important;
}
.show-factor{
    opacity: 0;
    text-align: center;
}
.price-box{
    opacity: 0;
}